@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

@import "./variables";

@import "./form";
@import "./button";
@import "./alert";
@import "./box";
@import "./table";
@import "./helpers";

html {
	font-size: 65%; /* 1rem = 10px */
}

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: 1.6rem;
}

.container {
	max-width: 120rem;
	margin: auto;
	position: relative;
}

.header {
	padding: 1rem 0rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px $light solid;

	&__title {
		font-size: 1.5rem;
	}
}

.footer {
	background: $light;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	border-radius: 4px;

	a {
		margin-left: 0.3rem;
	}
}
